@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  --soft-violet: hsl(277, 64%, 61%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  background: hsl(233, 47%, 7%);
  color: white;
}

.overall-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  width: 1440px;
  justify-content: center;
  border-radius: 50px;
}

.main-container p { color: hsla(0, 0%, 100%, 0.75); }

.box-1 {
  background: hsl(244, 38%, 16%);
  width: 37.5%;
  padding: 75px;
  border-radius: 5px;
}

.box-1 p {
  padding-top: 30px;
  padding-bottom: 50px;
  line-height: 1.5;
}

.stats { display: flex; }

.stats div { margin-right: 20px; }

.stats div p {
  font-family: 'Lexend Deca', sans-serif;
  font-size: small;
  padding: 0;
  text-transform: uppercase;
}

span { color: var(--soft-violet); }

.box-2 {
  background: url('./images/image-header-desktop.jpg') no-repeat center center/cover;
  width: 37.5%;
  border-radius: 5px;
}

.box-2_layer {
  background-color: var(--soft-violet);
  opacity: 0.55;
  filter: brightness(50%);
  height: 100%;
  width: 100%;
}


.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

@media(min-width: 375px) and (max-width: 800px) {
  .main-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .box-1,
  .box-2 {
    width: 90%;
    text-align: center;
    padding: 15px;
  }

  .stats { flex-direction: column; }

  .stats div {
    padding: 10px 0;
  }

}